a {
    text-decoration: none;
}

body {
    font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Istok Web', sans-serif;
}

.app-container {
    max-width: 720px;
    margin: 0 auto;
}

.mdl-layout-title a {
    color: #fff;
    font-weight: 300;
}

.mdl-data-table--full-width {
    width: 100%;
}

.header-space {
    margin-top: 45px;
}

@media (max-width: 600px) {
    .mdl-layout__header-row {
        padding-left: 18px;
    }
}