a {
    text-decoration: none;
}

.app-container {
    max-width: 720px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .mdl-layout__header-row {
        padding-left: 18px;
    }
}

.mdl-layout-title a {
    color: #fff;
    font-weight: 300;
}