.select-area {
    margin-bottom: 15px;
}

.raffle-top {
    margin-bottom: 100px;
}

.mdl-button--big-ass-button {
    width: 100%;
    height: 100px;
}

@media (max-width: 600px) {
    .raffle-top {
        margin-bottom: 25px;
    }
}